body {
	font-family: 'Ubuntu', sans-serif;
  color: #DEB841;
  background-color: #282828;
  padding-left: 0rem;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #DEB841;
}

p {
  color: #E5E5E5;
}

a {
  color: #DDBE5F;
}

a:hover {
  color: #E5E5E5;
}

li {
  color: #E5E5E5;
}

.linkIcon {
  padding-right: 4px;
}

.linkIcon:hover {
  text-decoration: none;
}

.sectionTitle {
  padding-bottom: 1rem;
}

#leftNav {
    background-color: #1C1C1C;
}

#leftNav a {
    color: #DDBE5F;
}

#leftNav a:hover {
  color: #E5E5E5;
}

/* large devices */
@media (min-width: 992px) {

  body {
    padding-left: 15rem;
  }

  #leftNav {
    text-align: center;
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }

  #profile {
    margin: 0 auto;
  }

  #leftNav .navbar-brand .img-me {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid #282828;
  }

  #leftNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #leftNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}